@model Serudemy.Models.CourseViewModel

<form method="post" asp-action="KursDuzenle">

    <input type="hidden" asp-for="CourseId" />

    <div class="mb-3">
        <label asp-for="Name">Kurs Adı</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Description">Açıklama</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="ImageUrl">Fotoğraf</label>
        <input type="file" asp-for="ImageUrl" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>